# Игнорировать виртуальное окружение
venv/
.venv/

# Игнорировать файлы Python
*.pyc
__pycache__/

# Игнорировать файлы базы данных SQLite
db.sqlite3

# Игнорировать файлы окружения
.env

# Игнорировать IDE-специфичные файлы
.idea/
.vscode/
*.swp
*.swo

# Игнорировать статические файлы
/static/
/media/